.container {
    padding: 10px 20px;
    margin-top: 20px;
}

.logo {
    transition: all 1.2s ease-in-out;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.links a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 4;
}

.links li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.hamburgerIcon {
    color: #FFFFFF;
    display: none;
}

@media(max-width: 900px) {
    .hamburgerIcon {
        display: block;
    }
    .links {
        display: none;
    }
}

@media(max-width: 640px) {
    .logoImg {
        width: 200px;
        height: 35px;
    }
}