.container {
  padding: 50px;
}

/* .contactDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.details {
    color: #FFFFFF;
}

.detail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}

.detail > p {
    width: 50%;
}

.footerLinks {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 25px;
    font-size: 14px;
}

.linksSet {
    color: #A5A5A5;
}

.setTitle {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: 500;
}

.links a {
    text-decoration: none;
    font-weight: 300;
}

.links li {
    list-style: none;
    margin-bottom: 8px;
} */

.footerLinks ul {
  display: flex;
  flex-wrap: wrap;
  color: #a5a5a5;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.footerLinks ul li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.footerLinks ul li:hover {
  color: #ffffff;
}

.footerLinks a {
  text-decoration: none;
  color: #a5a5a5;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  border-top: 1px solid #343232;
}

.copyright > p {
  color: #a5a5a5;
  font-size: 12px;
}

.socials {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 640px) {
  .container {
    padding: 50px 30px;
  }
  .footerLinks ul {
    gap: 20px;
  }
}

@media (max-width: 520px) {
  .icon {
    width: 16px;
    height: 16px;
  }
  .container {
    padding: 20px 30px 50px 30px;
  }
}

@media (max-width: 300px) {
  .footerLinks ul {
    flex-direction: column;
  }
}
